Repository rwmsousa/teste-karhub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test:staged

chore: update pre-commit hook to use npx lint-staged for linting and testing
  .husky/pre-commit
Due: none

chore: update lint-staged configuration and pre-commit hook to streamline linting, formatting, and testing processes
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: prettier --write

refactor: update error message in test teardown for clarity
  src/tests/setup.ts
Due: eslint --fix, prettier --write

refactor: simplify error handling in BeerStyleController and clean up code formatting in multiple files
  src/controllers/BeerStyleController.ts
  src/entities/BeerStyle.ts
  src/services/BeerStyleService.ts
  src/services/SpotifyService.ts
  src/tests/beerRecommendation.routes.test.ts
  src/tests/beerStyle.routes.test.ts
Due: eslint --fix, prettier --write, yarn test:staged

fix: update example temperature value in Swagger configuration to reflect valid range
  src/config/swagger.ts
Due: eslint --fix, prettier --write

chore: update package.json and tsconfig.json to enhance linting configuration and adjust file exclusion settings
  package.json
  tsconfig.json
Due: prettier --write

chore: replace ESLint configuration file with a new CommonJS format and update Jest configuration for improved module handling and coverage reporting
  eslint.config.cjs
  eslint.config.js
  jest.config.js
Due: eslint --fix, prettier --write

docs: remove database seeding instructions from README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  yarn test:staged: any of: *.test.{js,ts}
